h2, h3 {
    color: #333;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
